
@{
    ViewBag.Title = "MuaThanhCong";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}
<div class="center">

    <h2>Đặt Hàng Thành Công</h2>
    <h3>Hàng sẽ được vẩn chuyển đến bạn trong 2-3 ngày</h3>
    <a class="btn-success" href="@Url.Action("Index","Home")">Tiếp tục mua sắm</a>
</div>


